[Unit]
Description=Tech Interview Stand Binance Worker Service
After=network.target postgresql.service

[Service]
User=interview_service_user
Group=interview_service_user
WorkingDirectory=/opt/app/interview-service
Environment="PATH=/opt/app/venv/bin"
ExecStart=/opt/app/interview-service/venv/bin/python3 binance_service/main.py
Restart=always

[Install]
WantedBy=multi-user.target 