[Unit]
Description=Tech Interview Stand Dashboard Backend Service
After=network.target postgresql.service

[Service]
User=interview_service_user
Group=interview_service_user
WorkingDirectory=/opt/app
Environment="PATH=/opt/app/venv/bin"
ExecStart=/opt/app/venv/bin/uvicorn backend.app.main:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target 